body {
    background-color: rgb(243, 243, 200);
  }
  #main {
    margin: auto;
    max-width: 1024px;
  }
  #img-div {
  margin: 0;
  padding: 0;
  }
  #img-caption{
  text-align: left;
  }
  hr {
    width: 100%;
  }
  ol {
    margin: 10px;
    padding: 0;
    list-style: none;
    text-align: justify;
  }
  img {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 20vw;
    min-width: 110px;
  }
  .photoNameInfo{
    display: inline-flex;
    margin: 10px;
  }
  .myPhoto {
    font-size: small;
    text-align: center;
    margin: 20px 30px 0 0;
  }
  .list {
    max-width: 700px;
  }
  @media screen and (max-width: 500px) {
    .photoNameInfo{
      flex-wrap: wrap;
    }
    body {
      background-color: rgb(38, 42, 61);
      color: rgb(255, 255, 255);
    }
    img {
      border: 1px solid black;
      border-radius: 10px;
      width: 100%;
      height: auto;
      max-width: 20vw;
      min-width: 110px;
      margin-right: 30px;
    }
  }