* {
    box-sizing: border-box;
}

body {
    font-family: 'lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1020px;
    margin: auto;
}

.header-block {
    background: #2D303A;
    border-bottom: 6px solid #323746;
}

.header {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 29px 0 41 40px;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.header__logoX {
    display: inline-block;
    color: #F06C64;
    margin: 0;
    padding: 0;
}

.header-navigation {
    display: flex;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.035em;
    text-align: right;
}
.header-navigation__item::after {
    position: relative;
    bottom: 1px;
    content: '*';
    font-size: 5px;
    text-align: center;
    color: #fff;
    padding: 0 13.5px 0 12.5px;
}

.header-navigation__link {
    text-decoration: none;
    color: #fff;
}

.header-navigation__link:hover {
    text-decoration: none;
    color: #F06C64;
    transition: .3s;
}

.slider__wrapper {
    background: #F06C64;
    border-bottom: 6px solid #EA676B;
}

.services {
    background: #F2F2F2;;

}

.services-portfolio-wrapper {
    max-width: 1020px;
    margin: auto;
    padding: 29px 40px 50px 40px;
}

.services-head__description {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
}

h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
}

h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
}

.services-column__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-column {
    display: flex;
    width: 300px;
}

.services__icon {
    width: 60px;
    height: 60px;
    margin: 15px 20px 0 0;
    border: 2px solid #666D89;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}

.icon-services_pencil {
    background-image: url(/singolo/img/services/services-item-1--nocircle.svg);
    width: 32px;
    height: 32px;
}

.icon-services_bulb {
    background-image: url(/singolo/img/services/services-item-2--nocircle.svg);
    width: 22px;
    height: 32px;
    display: inline-block;
}

.icon-services_heart {
    background-image: url(/singolo/img/services/services-item-3--nocircle.svg);
    width: 32px;
    height: 28px;
    display: inline-block;
}

.icon-services_mobile {
    background-image: url(/singolo/img/services/services-item-4--nocircle.svg);
    width: 22px;
    height: 32px;
    display: inline-block;
}

.icon-services_think {
    background-image: url(/singolo/img/services/services-item-5--nocircle.svg);
    width: 32px;
    height: 28px;
    display: inline-block;
}

.icon-services_star {
    background-image: url(/singolo/img/services/services-item-6--nocircle.svg);
    width: 32px;
    height: 32px;
    display: inline-block;
}

.services-column__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
    overflow: hidden;
}

.portfolio {
    background: #2D303A;
    border-bottom: 6px solid #323746;
    color: #666D89;
}

.portfolio-menu {
    padding: 0;
    display: flex;
    list-style: none;
    
}

.portfolio-menu__item {
    margin: 0 10px 0 0;
    border: 1px solid #767E9E;
    border-radius: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color:#767E9E;
    padding: 1px 5px 2px 5px;
    cursor: pointer;

}

.portfolio-table {
    padding: 0;
    display: grid;
    grid-template: 'a a a a';
    list-style: none;
    gap: 10px;
}

.portfolio-menu__item:nth-last-child(1n + 13){
    display: none;
}

.footer {
    background: #2D303A;
    color: #666D89;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    margin: auto;
}

.footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.copyright {
    padding-left: 40px;
}

.social-networks {
    display: flex;
    list-style: none;
    padding-right: 42px;

}

.social-networks__item {
    margin-left: 8px; 
}
